apiVersion: apisix.apache.org/v2
kind: ApisixRoute
metadata:
  name: event-batch-route
  namespace: apisix
spec:
  ingressClassName: apisix
  http:
  - name: event-batch
    match:
      paths:
      - "/v1/events/batch"
      methods:
      - POST
    backends:
    - serviceName: vector
      servicePort: 8080
      weight: 100
    plugins:
    - name: key-auth
      enable: true
      config:
        header: X-API-Key
    - name: limit-count
      enable: true
      config:
        count: 1000
        time_window: 60
        rejected_code: 429
        key: consumer_name
        policy: redis
        redis_host: redis-master.redis.svc.cluster.local
        redis_password: changeme_redis123
        redis_port: 6379
        redis_timeout: 1001
