apiVersion: opensearch.opster.io/v1
kind: OpenSearchCluster
metadata:
  name: audit-search
  namespace: opensearch
spec:
  general:
    version: 2.11.0
    serviceName: audit-search
    vendor: opensearch
    pluginsList: ["repository-s3"]
  
  confMgmt:
    autoScaler: false
    smartScaler: false

  dashboards:
    enable: false

  security:
    config:
      adminCredentialsSecret: 
        name: admin-credentials
    tls:
      transport:
        generate: true
        perNode: true
      http:
        generate: true
      
  nodePools:
    - component: masters
      replicas: 3
      diskSize: "20Gi"
      roles:
        - "master"
        - "data"
        - "ingest"
      persistence:
        pvc:
          storageClass: standard-ssd
          accessModes:
            - ReadWriteOnce
      resources:
         requests:
           memory: "1.5Gi"
           cpu: "500m"
         limits:
           memory: "2Gi"
           cpu: "1000m"
