apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    meta.helm.sh/release-name: redpanda-operator
    meta.helm.sh/release-namespace: redpanda
  creationTimestamp: "2025-12-05T20:03:44Z"
  generation: 1
  labels:
    app.kubernetes.io/instance: redpanda-operator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: operator
    app.kubernetes.io/version: v25.2.1
    helm.sh/chart: operator-25.2.1
  name: redpanda-operator
  namespace: redpanda
  resourceVersion: "3782"
  uid: b9d4f41a-bf95-4c3b-882d-3961e1f3f2c6
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/instance: redpanda-operator
      app.kubernetes.io/name: operator
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: redpanda-operator
        app.kubernetes.io/name: operator
    spec:
      automountServiceAccountToken: false
      containers:
      - args:
        - --configurator-base-image=docker.redpanda.com/redpandadata/redpanda-operator
        - --configurator-tag=v25.2.1
        - --enable-console=true
        - --enable-vectorized-controllers=false
        - --health-probe-bind-address=:8081
        - --leader-elect
        - --log-level=info
        - --metrics-bind-address=:8443
        - --webhook-enabled=false
        command:
        - /manager
        image: docker.redpanda.com/redpandadata/redpanda-operator:v25.2.1
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz/
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 1
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        - containerPort: 8443
          name: https
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsUser: 65532
      serviceAccount: redpanda-operator
      serviceAccountName: redpanda-operator
      terminationGracePeriodSeconds: 10
      volumes:
      - name: kube-api-access
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              expirationSeconds: 3607
              path: token
          - configMap:
              items:
              - key: ca.crt
                path: ca.crt
              name: kube-root-ca.crt
          - downwardAPI:
              items:
              - fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
                path: namespace
status:
  conditions:
  - lastTransitionTime: "2025-12-05T20:03:44Z"
    lastUpdateTime: "2025-12-05T20:03:44Z"
    message: Deployment does not have minimum availability.
    reason: MinimumReplicasUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2025-12-05T20:13:44Z"
    lastUpdateTime: "2025-12-05T20:13:44Z"
    message: ReplicaSet "redpanda-operator-54f76cd587" has timed out progressing.
    reason: ProgressDeadlineExceeded
    status: "False"
    type: Progressing
  observedGeneration: 1
  replicas: 1
  unavailableReplicas: 1
  updatedReplicas: 1
